.palio{
    font-size: 20px;
    color: white;
}
body{

background-image: url("https://images7.alphacoders.com/548/548306.jpg");
background-size: cover;

}
.hj{
    color: red;
}

.car{
color: red;
}

.end{
    font-size: 25px;
    background-color: red;
}